<div>
   <html>
      <head>
         
   {% load static%}

   <img class="sky-img" src="{% static 'healthcheck/Sky_Logo.png' %}" alt="Sky" >

   
      </head>
<body>

</div>

<div class="topnav">
   <a href="/user">Home</a>               
   <a href="/profile">Profile</a>          
   <a href="/progress">Progress</a>               
   <a href="/help">Help</a>
   <a href="/logout">Logout</a>

   </div>
 </div>
<a class="sky-img" href="http://127.0.0.1:8000/user"></a>
   
   </ul>
   {% block content %}
   {% endblock %}

</div>
</body>
   </html>

