body {
  margin:0;
  font: 300 18px 'Inter', sans-serif;
  letter-spacing: 0.64px;
  color: #808080;
  
}
.topnav {
  backdrop-filter: blur(16px);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-align:left;
  padding:10px;

}
.topnav,  a:link, .topnav a:visited {
  
  text-decoration: none;
  color: #8f8f8f; 
}
.topnav a:hover, .topnav a:active {
  text-decoration: underline;
  
}


.main, .main {
  text-align:center;
  color:#4b5061;
  background-color: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 50px auto;
}

.traffic-img{
  max-width: 30%;
  margin-top: 10px;
  padding:30px 50px;
  
}


.sky-img{
  max-width: 3%;
  margin-top: 10px;
  padding:10px;
}


p{
  text-align:center;
  color:#4b5061;
  background-color: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 50px auto;

  
  
}
h3, h5 {
  text-align:center;
  padding: 20px;
}

h4{
  text-align:left;
  font-weight: normal;
  padding: 20px 40px;
  color:#4b5061;
  
}



