{% extends "main.html" %}

{% block content1 %}
<div>

<img src="../static/healthcheck/Sky_Logo.png" alt="SkyLogo" width="300" height="200">
<form method="POST">
{% csrf_token %}
<fieldset>
    <legend>Forgotten your password?</legend>
<label for="email">Enter Your Email:</label><br>
<input type="email" id="email" name="email"><br>

<p> Please enter the email address for your Sky ID. 
This is the email address you provided when you created your account.</p>
<button type="submit">Send email</button>
</fieldset>
</form>
<div>

</div>
</div>
{% endblock content1 %}
