{% extends "main.html" %}

{% block content1 %}
<div>

<img src="../static/healthcheck/Sky_Logo.png" alt="SkyLogo" width="300" height="200">
<form method="POST">
{% csrf_token %}

    <legend>Forgotten your password?</legend>
<p> We'll email you a link to reset your password. We'll send this to the email address 
you used to create your Sky ID. Please check your junk mail folder if you don't receive
the email within a few minutes</p>
<button onclick="document.location='login.html'">Log in</button>

</form>
<div>

</div>
</div>
{% endblock content1 %}