{%extends 'main.html'%}
{% load static %}

{% block content%}


<body>

    <div class="Help">
      <h3>What do you need help with?</h3>
  
    
  
      <h4>The Health Checker is a core feature of the Health Check System, designed to monitor and track the progress of teams and individuals over time. It enables users to assess their health so they can stay aligned on performance and areas of improvement.</h4>
  
  
      <img src="{% static 'healthcheck/traffic.png' %}" alt="Traffic Light">
  
  
  </div>
          <button class="button button1">Getting Worse</button>
          <button class="button button2">Stable</button>        
          <button class="button button3">Improving</button>
  
  
  
  {% endblock content %}

