{%extends 'main.html'%}

{% block content%}


<body>

<div class="main">
    <h1>Welcome to Sky Life</h1>
 

<h4>Designed to help track progress and maintain high standards.This platform is built to ensure that Engineers, Team Leaders can efficiently record and monitor their health. </h4>
  
<a href="{% url 'dashboard' %}" >
  <button type="button">Start your health checker journey her</button>

</div>

<div class = "boxes">
<h4></h4>
</div>

<div class = "boxes">
  <h4></h4>

</div>

</body>


{% endblock content %}



