{% extends 'main.html' %}
{% load static %}

{% block content %}

{% if submitted %}
  <div class="submission-message">
    <h2 style="text-align: center;">Your submission has been successful</h2>

    <div>
      <h3>View your submission:</h3>
      <canvas id="userTrendChart"></canvas>
      <canvas id="userStateChart"></canvas>
    </div>
  </div>

  {{ user_trend_labels|json_script:"user-trend-labels" }}
  {{ user_trend_data|json_script:"user-trend-data" }}
  {{ user_state_labels|json_script:"user-state-labels" }}
  {{ user_state_data|json_script:"user-state-data" }}
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

</script>
{% endblock %}