{%extends 'main.html'%}
{% load static %}

{% block content%}

<body>
   <div class="main">
   <h3>Please Select Your Session:</h3>
   <select id="session-select" name="session" required>
    <option value="" disabled selected>Select Your Session</option>
    <option value="session">Session 1 - First quaterly check in</option>

     </select>
  
   
     <a href="{% url 'voting' %}">
      <button id="startsession">Start Session</button>
  </a>
  
   
</div>
   
  
    </body>
    <script src="{% static 'healthcheck/session.js' %}"></script>

  

  
    
{% endblock content %}